extends layout

block content
	.container-fluid.page-header
		.animation-header#door
		.row
			.col-md-12.text-center#exhibition-name
				h1 留言
					span 板


	.container
		.section#landing-content
			.row
				.col-md-offset-3.col-md-6

					p 你参观了《㗝呸店》吗？参观后再看这里的内容，你有什么感想？对你来说，《㗝呸店》或传统咖啡店的意义何在？把感想或愿望写在布告栏上与大家分享吧！

					p 同时，如展览中所提的问题，传统咖啡店以外，新加坡有许多的地方和空间正在或已经没落、消失了。你希望可以保留哪些地方或空间，留给你的下一代？
					p 抽出点时间到这些地方走一走，以拍照、录影或录音的方式把它们捕捉下来，然后上载到这个网页，标上#DBkopitiam 和 #placesthatmatter。
			.row
				.col-md-offset-3.col-md-6
					#disqus_thread
						script.
							/**
							* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
							* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
							*/
							/*
							var disqus_config = function () {
							this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
							this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
							};
							*/
							(function() { // DON'T EDIT BELOW THIS LINE
							var d = document, s = d.createElement('script');
							s.src = '//kopitiam-virtualkit.disqus.com/embed.js';
							s.setAttribute('data-timestamp', +new Date());
							(d.head || d.body).appendChild(s);
							})();
						noscript
							| Please enable JavaScript to view the 
							a(href='https://disqus.com/?ref_noscript', rel='nofollow') comments powered by Disqus.

	script(src='/javascripts/doors.js')

	