extends layout

block content
	.container-fluid.page-header
		.animation-header#ocean
		.row
			.col-md-12.text-center#exhibition-name
				h1 展
					span 览
				p THE EXHIBITIO
					span N


	.container
		.section#landing-content

			#exhib-nav
				ul.nav.nav-pills(role='tablist')
					li.active(role='presentation')
						a(href='#home', aria-controls='home', role='tab', data-toggle='tab') 前言
					li(role='presentation')
						a(href='#note', aria-controls='note', role='tab', data-toggle='tab') 笔记本
					li(role='presentation')
						a(href='#letter', aria-controls='letter', role='tab', data-toggle='tab') 信件

			.tab-content
				
				#home.tab-pane.active(role='tabpanel')
					.row
						.col-md-offset-3.col-md-6
							h4.section-header.text-center 前言

							p 你知道吗？《㗝呸店》的展览地点其实是当年著名的“荣成咖啡店”原址。我们也很有幸获得了荣成咖啡店的老板陈伦成先生的家人所赠送的一些物品。

							p 这些物品当中包括了陈伦成的一些手记以及他的孙子家才在加拿大留学时寄回家的一些信件。通过笔记本里的记录来认识陈伦成的日常生活和忧虑，我们其实也能更进一步的了解传统咖啡店的点滴。

					
				#note.tab-pane.fade(role='tabpanel')
					.row
						.col-md-12
							h4.section-header.text-center 笔记本
						.col-md-offset-3.col-md-6
							img(src="/images/note-1.png")

							p 一页关于陈伦成的孙子家才的班机时间与日期。这一页在笔记本里特别标出来，可见在陈老先生的眼里是非常重要的信息。

						.col-md-offset-3.col-md-6
							p 其实，不少经历过世界二战与战后辛苦的生活的人都十分重视教育。大家认为教育能够使人们的生活有所改善，所以就算省吃俭用也要把钱存起来，让孩子们接受教育。陈伦成与女婿银官也是如此。两人靠着经营咖啡店维持全家人的生活。尽管“荣成咖啡店”一度面对危机，两人仍然支持家才到加拿大念书。正如笔记本里记载的一样，身为家中第一名大学生的家才每年只有在农历新年时才回家一次。而其中的原因是因为生活拮据。

						.col-md-offset-3.col-md-6
							img(src="/images/note-2.png")

							p 陈伦成的笔记本里也记录了一些电话号码。其中，可以看出有些是朋友的联络号码，而有些则是供应商的电话号码。传统咖啡店里人来人往，人们除了在那里喝咖啡聊天以外，咖啡店也是当时人们社交与交换信息、新闻的场所。不少常客后来也成为了咖啡店老板的朋友。

						.col-md-offset-3.col-md-6
							p 当时的习气是依据某人的习惯、外表或居住的地方取外号。而新加坡是在2002年后才在所有的电话号码前加上 "6"。在这之前，电话号码的前几个数字就代表了不同地区。陈老先生在号码旁作了一些记号。猜一猜这些记号代表着什么！
				#letter.tab-pane.fade(role='tabpanel')
					.row
						.col-md-12
							h4.section-header.text-center 信
						.col-md-offset-3.col-md-6
							
							p 在科技不太发达的年代里，身处于不同国家的人们最便宜的沟通方式就是通信。家才在国外读书的时候有时常寄信回家，而从他在不同时段寄回家的信件可发觉在国外生活对他的影响，以及他的想法与习惯如何慢慢改变。我们在此与你们分享他刚到加拿大时所寄回家的第一封信，以及一张他留学的后期的信。你看得出家才的变化吗？

							p 家才选择留在加拿大发展，意味着他的祖父与父亲成功地让他们的后代有更光明的前途，有更轻松的生活。但在这当中，这也代表了他们辛苦经营的传统咖啡店将没有人继承。

						.col-md-offset-3.col-md-6
							img(src="/images/letter-1.png")

						.col-md-offset-3.col-md-6
							img(src="/images/letter-2.png")

						.col-md-offset-3.col-md-6

							p 这些文物是不是很有趣？你是不是已经迫不及待想知道更多有关传统咖啡店以及陈伦成与家才的故事？你将能够在《㗝呸店》中进一步了解！

	script(src='/javascripts/waves.js')

