extends layout

block content
	.container-fluid.page-header
		.animation-header#flow
		.row
			.col-md-12.text-center#exhibition-name
				h1 㗝呸
					span 店


	.container
		.section#landing-content
			.row
				.col-md-offset-3.col-md-6

					h4.section-header.text-center#comment-header 离《㗝呸店》开幕还有

					#countdown
						div
							span.days
							.smalltext 天
						div
							span.hours
							.smalltext 时
						div
							span.minutes
							.smalltext 分
						div
							span.seconds
							.smalltext 秒
					hr

					p 欢迎来到我们2030年期待已久的特备展览《㗝呸店》的专属页面！我们特地提供了一些有关展览的咨询 - 除了可以看看一些将在展览中出现的文物，你也可以读一读展览策划人的寄语，了解一下这次展览背后的意义。最后，看完了这个网页的资讯，在页面中留言，与大家分享你参观展览前后的感想！

					p 现在就尽情浏览吧！我们5月在《㗝呸店》的展览厅见！



	script(src='/javascripts/flow.js')
	script(src='/javascripts/countdown.js')
