extends layout

block content
	.container-fluid.page-header
		.animation-header#circle
		.row
			.col-md-12.text-center#exhibition-name
				h1 策展
					span 人


	.container
		.section#landing-content
			.row
				.col-md-offset-3.col-md-6

					h4.section-header.text-center 为什么会想要有《㗝呸店》的展览呢？

					p
						b 这次的展览策划人，韩雪梅，与我们分享了这一段话：

					p 在新加坡，一切都发生得太快了，几乎所有的改变或多或少都是由经济因素所带动，极少数地方能够保持五年不变。
					p 我们是如此习惯这种快节奏的改变，如此深信这种以经济考量出发的说辞，当我们要决定是否应该破坏栖息地或建立一条地铁线时，我们感到无比的挣扎，因为我们不知道如何处理历史、遗产、个人记忆和地方记忆等无形的资产。
					p 要能够应对这种情形，我们必须有足够的练习。我们需要练习如何进行对话、协商，并在做决定的过程中也考虑到非物质的重要性。通过练习，习以为常的方程式才能转变。而起点，就在孩子与青年的身上。
					p 在《㗝呸店》展览中，除了通过不同的方式了解传统咖啡店的点点滴滴，在展览的“遗失之道”中我们也看到了一些在“发展”的名义下所遗失的事物、地方。看着这些文物，你有什么感想呢？关于这些文物，你了解多少呢？
					p 传统咖啡店在兴起不久后就成为了华人聚集的一个重要点，而长久下来也成为了一个时代的文化标记。一些电视剧、歌曲甚至以传统咖啡店为题材，记录了这些店的独特文化与动态。但在记录和谈论传统咖啡店的当中，其实这些文物也反映了社会的改变与进展 - 本地剧作家郭宝崑先生于1986年所著的剧本《㗝呸店》在几十年后，仍然是社会的写照。多了解传统咖啡店的起源与没落，间接引导我们思考当下与未来的路该怎么走。
					p 
						最后，我想要感谢
						a.team(href="/artivate") 团队
						| 的支持，让《㗝呸店》能够顺利进行。

	script(src='/javascripts/circle.js')

