html
	overflow-x: hidden

body
	font-family:  Helvatica, Tahoma, Arial, 'cwTeXHei', "Microsoft JhengHei", "Microsoft YaHei", "微软雅黑", sans-serif
	letter-spacing: 0.2em
	font-size: 16px
	overflow-x: hidden
	

p
	line-height: 2em
	
a, p
	color: #333

img
	width: 100%


.section p
	text-indent: 2.5em;
	margin-bottom: 1.5em;

.section
	img
		margin-bottom: 2em

p.sub
	padding-top: 0.5em
	padding-bottom: 0em
	text-indent: 0em
	line-height: 1.5em
	font-size: 0.8em
	color: #777
	
.page-header
	padding: 0
	margin-top: 0
	position: relative
	border-bottom: transparent
	
.navbar-default 
	// position: fixed
	background: rgba(255, 255, 255, 0.8);
	border: none;
	box-shadow: none;
	z-index: 999
	position: fixed;
	width: 100%;
	padding-top: 1em;

.navbar-default .navbar-collapse, .navbar-default .navbar-form
	border: none

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle
	&:hover
		background: transparent
		span.icon-bar
			color: #eee
			
	border: none
	
	
.navbar-brand, .navbar-nav>li>a
	text-shadow: none
	
#exhibition-name
	
	background: transparent
	padding-bottom: 0em
	padding-top: 12em
	
	
	
	h1
		font-family: BiauKai, KaiTi, STKaiti, Helvatica, Tahoma, Arial, 'cwTeXHei', "Microsoft JhengHei", "Microsoft YaHei", "微软雅黑", sans-serif
		span
			letter-spacing: 0
	
	p
		font-family: Roboto Light, Helvatica, Tahoma, Arial, 'cwTeXHei', "Microsoft JhengHei", "Microsoft YaHei", "微软雅黑", sans-serif
		span
			letter-spacing: 0
	
	@media (min-width: 992px)
		h1 
			font-size: 5em
			letter-spacing: 1.2em
		p
			font-size: 1.5em
			letter-spacing: 1.2em

h4.section-header
	font-size: 1.8em
	margin-bottom: 2em
	
.section
	padding-top: 4em
	
#exhib-nav
	text-align: center
	margin-bottom: 2em
	.nav-pills
		display: inline-block
		a
			border: 1px solid transparent
		
		a:hover
			color: #333
			border: 1px solid 
			background: none
			
		li
			margin-left: 0.5em
			margin-right: 0.5em
			letter-spacing: 0.2em
			
		@media (min-width: 992px)
			li 
				margin-left: 2em
				margin-right: 2em
				
			
	
	.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover
		border: 1px solid #333
		background: none
		color: #333

#footer
	margin-top: 4em
	p.copyright
		letter-spacing: 0.2em
		font-size: 0.8em
		color: #ccc
		font-family: Roboto Light
	


#ocean
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(0.5, #f3f3f3))

.animation-header
	position:absolute;
	width:100%;
	height: 40em;

.wave
	background: white;
	display:inline-block;
	height:60%;
	position:absolute;
	-webkit-animation-name: dostuff; 
	-webkit-animation-duration: 3s; 
	-webkit-animation-iteration-count: infinite;
	-webkit-transition-timing-function: ease-in-out;
	



@-webkit-keyframes dostuff
	0% {
		height:60%;
	}
	50%{ 
		height:40%;
	}
	100%{ 
		height:60%;
	}

@-webkit-keyframes flow-40
	0% {
		bottom:20%;
		opacity: 0
	}
	20% {
		opacity: 0.2
	}
	80% {
		opacity: 0.2
	}
	100%{ 
		bottom:100%;
		opacity: 0
	}

@-webkit-keyframes flow-60
	0% {
		bottom:20%;
		opacity: 0
	}
	20% {
		opacity: 0.4
	}
	80% {
		opacity: 0.4
	}
	100%{ 
		bottom:100%;
		opacity: 0;
	}


.char-40
	height: 40px;
	width: 40px;
	position: absolute;
	-webkit-animation-name: flow-40; 
	-webkit-animation-duration: 40s; 
	-webkit-animation-iteration-count: infinite;
	background-image: url('../images/kanji-01.png');
	

.char-80
	height: 80px;
	width: 80px;
	position: absolute;
	-webkit-animation-name: flow-60; 
	-webkit-animation-duration: 40s; 
	-webkit-animation-iteration-count: infinite;
	background-image: url('../images/kanji-02.png');