
body
	font-family:  Helvatica, Tahoma, Arial, 'cwTeXHei', "Microsoft JhengHei", "Microsoft YaHei", "微软雅黑", sans-serif
	letter-spacing: 0.2em
	font-size: 16px

p
	line-height: 2em
	
a, p
	color: #333

img
	width: 100%


.section p
	text-indent: 2.5em;
	margin-bottom: 1.5em;

.section
	img
		margin-bottom: 2em

p.sub
	padding-top: 0.5em
	padding-bottom: 0.5em
	text-indent: 0em
	line-height: 1.5em
	font-size: 0.8em
	color: #777
	

.navbar-default 
	// position: fixed
	background: transparent;
	border: none;
	box-shadow: none;
	z-index: 999
	position: fixed;
	width: 100%;
	padding-top: 1em;

.navbar-default .navbar-collapse, .navbar-default .navbar-form
	border: none

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle
	&:hover
		background: transparent
		span.icon-bar
			color: #eee
			
	border: none
	background: transparent
	
.navbar-brand, .navbar-nav>li>a
	text-shadow: none
	
#exhibition-name
	
	background: #eee
	padding-bottom: 12em
	padding-top: 12em
	
	h1
		letter-spacing: 1.2em
		font-family: KaiTi
		font-size: 5em
		span
			letter-spacing: 0
	
	p
		letter-spacing: 1.2em
		font-size: 1.5em
		font-family: Roboto Light
		span
			letter-spacing: 0
			

h4.section-header
	font-size: 1.8em
	margin-bottom: 2em
	
.section
	padding-top: 4em
	
#exhib-nav
	text-align: center
	margin-bottom: 2em
	.nav-pills
		display: inline-block
		a
			border: 1px solid white
		
		a:hover
			color: #333
			border: 1px solid 
			background: none
			
		li
			margin-left: 2em
			margin-right: 2em
			letter-spacing: 0.2em
			
	
	.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover
		border: 1px solid #333
		background: none
		color: #333

